<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Employee Directory</title>
</head>
<body>
<div class="container">
    <h3>Employee Directory</h3>
    <hr>
    <a th:href="@{/courses/showFormForAdd}" class="btn btn-primary btn-sm mb-3"> create course </a>
    <a th:href="@{/employees/list}" class="btn btn-primary btn-sm mb-3"> View employee list </a>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>course-name</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="tempcourse :${courses}">

            <td th:text="${tempcourse.getId()}"/>
            <td th:text="${tempcourse.getName()}"/>

            <td>
                <a th:href="@{/courses/showFormForUpdate/{id}(id = ${tempcourse.getId()})}" class="btn btn-primary btn-sm mb-3"> update </a>
                <a th:href="@{/courses/delete/{id}(id = ${tempcourse.getId()})}" class="btn btn-primary btn-sm mb-3"> Delete </a>
            </td>

        </tr>
        </tbody>

    </table>

</div>
</body>

</html>