<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save Employee</title>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha38hU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<div class="containaer">
    <h3>Employee directory</h3>

    <hr>
    <form action="#" th:action="@{/address/save}" th:object="${address}" method="post">


        <div class="form-group">
            <label for="city">city</label>
            <input type="text" th:field="*{city}" class="form-control mb-4 col-4" placeholder="first Name " id="city">
        </div>
        <div class="form-group">
            <label for="Street">Street</label>
            <input type="text" th:field="*{street}" class="form-control mb-4 col-4" placeholder="Street " id="Street">
        </div>
        <div class="form-group">
            <label for="house_no">House No</label>
            <input type="text" th:field="*{house_No}" class="form-control mb-4 col-4" placeholder=" house no "id="house_no">
            <input type="hidden" th:field="*{employeeDto.id}" th:value="${address.employeeDto.getId()}">
        </div>


        <button type="submit" class="btn btn-info col-2">Save</button>


    </form>

    <hr>
    <a th:href="@{/employees/list}"> Back to Employees</a>

</div>
</body>

</body>
</html>