<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Employee Directory</title>
</head>
<body>
<div class="container">
    <h3>Employee Directory</h3>
    <hr>
    <a th:href="@{/employees/showFormForAdd}" class="btn btn-primary btn-sm mb-3"> Add employee </a>
    <a th:href="@{/designations/list}" class="btn btn-primary btn-sm mb-3"> View designation list </a>
    <a th:href="@{/address/list}" class="btn btn-primary btn-sm mb-3"> View designation list </a>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>AddressId</th>
            <th>Employee-Id</th>
            <th>Employee-name</th>
            <th>City</th>
            <th>street</th>
            <th>House-No</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempAddress :${addressList}">

            <td th:text="${tempAddress.getId()}"/>
            <td th:text="${tempAddress.getEmployeeDto().getId()}"/>
            <td th:text="${tempAddress.getEmployeeDto().getFirstName()}"/>
            <td th:text="${tempAddress.getCity()}"/>
            <td th:text="${tempAddress.getStreet()}"/>
            <td th:text="${tempAddress.getHouse_No()}"/>


            <td>
                <a th:href="@{/address/showFormForUpdate/{id}(id = ${tempAddress.getId()})}" class="btn btn-primary btn-sm mb-3"> update </a>
                <a th:href="@{/address/delete/{id}(id = ${tempAddress.getId()})}" class="btn btn-primary btn-sm mb-3"> Delete </a>
            </td>

        </tr>
        </tbody>

    </table>

</div>
</body>

</html>