<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save Employee</title>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha38hU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<div class="containaer">
    <h3>Employee directory</h3>

    <hr>
    <table>


        <form action="#" th:action="@{/employees/save}" th:object="${employee}" method="post">


            <div class="form-group">
                <label for="firstName">first name</label>
                <input type="text" th:field="*{firstName}" class="form-control mb-4 col-4" placeholder="first Name " id="firstName">
            </div>
            <div class="form-group">
                <label for="lastName">last name</label>
                <input type="text" th:field="*{lastName}" class="form-control mb-4 col-4" placeholder="last Name " id="lastName">
            </div>
            <div class="form-group">
                <label for="email">email</label>
                <input type="text" th:field="*{email}" class="form-control mb-4 col-4" placeholder=" email "id="email">
            </div>
            <div class="form-group">
                <label for="age">age</label>
                <input type="number" th:field="*{age}" class="form-control mb-4 col-4" placeholder=" email " id="age">
                <input type="hidden" th:field="*{id}">
            </div>
            <div class="form-group">
                <label for="gender">select gender</label>
                <ul id="gender">
                    <li th:each="gender : ${genders}">
                        <input type="radio" th:field="*{gender}" th:value="${gender}"  />
                        <label th:for="${#ids.prev('gender')}" th:text="${gender}"></label>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <label for="role">role</label>
                <select th:field="*{designation}"  class="browser-default custom-select" id="role">

                    <option th:if="${employee.getDesignation()==null}"th:each="designationp:${designations}" th:value="${designationp.getId()}" th:text="${designationp.getDesignation()}">
                        Roles

                    </option>
                    <option th:if="${employee.getDesignation()!=null}" th:each="designationp:${designations}" th:value="${designationp.getId()}" th:text="${designationp.getDesignation()}"
                            th:selected="${employee.getDesignation().getId()}">Roles

                    </option>

                    <!--            <option th:value="'manager'" th:text="Manager"></option>-->
                    <!--            <option th:value="'staff'" th:text="staff"></option>-->
                    <!--            <option th:value="'admin'" th:text="admin"></option>-->
                </select>

                <div class="form-group">
                    <label for="salary">salary</label>
                    <input type="number" th:field="*{salary}" class="form-control mb-4 col-4" placeholder=" email " id="salary">
                </div>
                <button type="submit" class="btn btn-info col-2">Save</button>
            </div>
        </form>


            <hr>
            <hr>
            <a th:href="@{/employees/list}"> Back to Employees</a>


    </table>


</div>
</body>
</html>