<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Employee Directory</title>
</head>
<body>
<div class="container">
<h3>Employee Directory</h3>
<hr>
    <a th:href="@{/employees/showFormForAdd}" class="btn btn-primary btn-sm mb-3"> Add employee </a>
    <a th:href="@{/designations/list}" class="btn btn-primary btn-sm mb-3"> View designation list </a>
    <a th:href="@{/address/list}" class="btn btn-primary btn-sm mb-3"> View Address list </a>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
    <th>first-name</th>
    <th>last-name</th>
     <th>gender</th>
     <th>Age</th>
    <th>Designation-ID</th>
    <th>Designation</th>
    <th>salary</th>
    <th>email</th>
    <th>action</th>
     <th>Add-address</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tempEmployee :${employees}">

        <td th:text="${tempEmployee.getFirstName()}"/>
        <td th:text="${tempEmployee.getLastName()}"/>
        <td th:text="${tempEmployee.getGender()}"/>
        <td th:text="${tempEmployee.getAge()}"/>
        <td th:if="${tempEmployee.getDesignation() != null}" th:text="${tempEmployee.getDesignation().getId()}"/>
        <td th:if="${tempEmployee.getDesignation()!= null}" th:text="${tempEmployee.getDesignation().getDesignation()}"/>
        <td th:if="${tempEmployee.getDesignation() == null}"> null </td>
        <td th:if="${tempEmployee.getDesignation()  == null}"> null</td>
        <td th:text="${tempEmployee.getSalary()}"/>
        <td th:text="${tempEmployee.getEmail()}"/>
        <td>
            <a th:href="@{/employees/showFormForUpdate/{id}(id = ${tempEmployee.getId()})}" class="btn btn-primary btn-sm mb-3"> update </a>
            <a th:href="@{/employees/view/{id}(id = ${tempEmployee.getId()})}" class="btn btn-primary btn-sm mb-3"> view </a>
           <a th:href="@{/employees/delete/{id}(id = ${tempEmployee.getId()})}" class="btn btn-primary btn-sm mb-3"> Delete </a>

        </td>
        <td><a th:href="@{/address/showFormForAdd/{employeeId}(employeeId = ${tempEmployee.getId()})}" class="btn btn-primary btn-sm mb-3"> Add-Address </a></td>

    </tr>
    </tbody>

</table>

</div>
</body>

</html>
