<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Employee Directory</title>
</head>
<body>
<div class="container">
    <h3>Employee Directory</h3>
    <hr>
    <a th:href="@{/employees/showFormForAdd}" class="btn btn-primary btn-sm mb-3"> Add employee </a>
    <a th:href="@{/designations/list}" class="btn btn-primary btn-sm mb-3"> View designation list </a>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>first-name</th>
            <th>last-name</th>
            <th>gender</th>
            <th>Age</th>
            <th>Designation-ID</th>
            <th>Designation</th>
            <th>salary</th>
            <th>email</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody>
        <tr>

            <td th:text="${employee.getFirstName()}"/>
            <td th:text="${employee.getLastName()}"/>
            <td th:text="${employee.getGender()}"/>
            <td th:text="${employee.getAge()}"/>
            <td th:if="${employee.getDesignation() != null}" th:text="${employee.getDesignation().getId()}"/>
            <td th:if="${employee.getDesignation()!= null}" th:text="${employee.getDesignation().getDesignation()}"/>
            <td th:if="${employee.getDesignation() == null}"> null </td>
            <td th:if="${employee.getDesignation()  == null}"> null</td>
            <td th:text="${employee.getSalary()}"/>
            <td th:text="${employee.getEmail()}"/>
            <td>
                <a th:href="@{/employees/showFormForUpdate/{id}(id = ${employee.getId()})}" class="btn btn-primary btn-sm mb-3"> update </a>
                <a th:href="@{/employees/delete/{id}(id = ${employee.getId()})}" class="btn btn-primary btn-sm mb-3"> Delete </a>
                <a th:href="@{/address/showFormForAdd/{employeeId}(employeeId = ${employee.getId()})}" class="btn btn-primary btn-sm mb-3"> Add-Address </a>
            </td>

        </tr>
        </tbody>

    </table>
    <br>
    <br>
    <h1 > employee address</h1>
    <br>
    <a th:href="@{/address/showFormForAdd/{employeeId}(employeeId = ${employee.getId()})}" class="btn btn-primary btn-sm mb-3"> Add-Address </a>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>city</th>
            <th>street</th>
            <th>House No</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="tempAdress :${addressList}">

            <td th:text="${tempAdress.getId()}"/>
            <td th:text="${tempAdress.getCity()}"/>
            <td th:text="${tempAdress.getStreet()}"/>
            <td th:text="${tempAdress.getHouse_No()}"/>


            <td>

                <a th:href="@{/address/delete/{id}(id = ${tempAdress.getId()})}" class="btn btn-primary btn-sm mb-3"> Delete </a>
                <a th:href="@{/address/showFormForUpdate/{id}(id = ${tempAdress.getId()})}" class="btn btn-primary btn-sm mb-3"> update </a>
            </td>

        </tr>
        </tbody>

    </table>

    <hr>
    <a th:href="@{/employees/list}"> Back to Employees</a>

</div>
</body>

</html>