<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Employee Directory</title>
</head>
<body>
<div class="container">
    <h3>Employee Directory</h3>
    <hr>
    <a th:href="@{/designations/showFormForAdd}" class="btn btn-primary btn-sm mb-3"> create designation </a>
    <a th:href="@{/employees/list}" class="btn btn-primary btn-sm mb-3"> View employee list </a>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Designation-name</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="tempdesignation :${designations}">

            <td th:text="${tempdesignation.getId()}"/>
            <td th:text="${tempdesignation.getDesignation()}"/>

            <td>
                <a th:href="@{/designations/showFormForUpdate/{id}(id = ${tempdesignation.getId()})}" class="btn btn-primary btn-sm mb-3"> update </a>
                <a th:href="@{/designations/delete/{id}(id = ${tempdesignation.getId()})}" class="btn btn-primary btn-sm mb-3"> Delete </a>
            </td>

        </tr>
        </tbody>

    </table>

</div>
</body>

</html>