<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save Employee</title>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha38hU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<div class="containaer">
    <h3>Employee directory</h3>

    <hr>
    <form action="#" th:action="@{/designations/save}" th:object="${designation}" method="post">


        <div class="form-group">
            <input type="hidden" th:field="*{id}">
            <label for="designation">designation</label>
            <input type="text" th:field="*{designation}" class="form-control mb-4 col-4" placeholder="first Name " id="designation">
        </div>

        <button type="submit" class="btn btn-info col-2">Save</button>


    </form>

    <hr>
    <a th:href="@{/designations/list}"> Back to designations</a>

</div>
</body>
